{% extends 'base.html' %}

{% load features_extras %}

{% load widget_tweaks %}

{% block main_block %}
<div>
    <div class="btn-group-lg text-center p-3 mb-2 bg-dark text-white" role="group" aria-label="Basic example">

<!--        <a class="btn btn-outline-light" href="{% url 'enter_athlete_page' %}" role="button">Enter Athlete Info</a>-->
        <a class="btn btn-outline-light" href="{% url 'show_all_athletes_page' %}" role="button">Athletes</a>
        <a class="btn btn-outline-light" href="{% url 'show_all_championships_page' %}" role="button">Championships</a>
        <a class="btn btn-outline-light" href="{% url 'show_all_clubs_page' %}" role="button">Clubs</a>
        <a class="btn btn-outline-light" href="{% url 'show_all_teams_page' %}" role="button">Teams</a>

    </div>
</div>
{% endblock %}