{% extends 'features/show_athlete_page.html' %}
{% block main_block1 %}
<h3> Click on a championship to view {{ athlete.name }}'s standing in it. </h3>
{% endblock %}
{% block main_block2 %}
<div class="container nav justify-content-center">

    {% if not championships %}
        <p>No championship record exists for {{athlete.name}} yet.</p>
    {% else %}
        {% for championship in championships %}
            <div class="card container" style="margin-bottom: 20px;">
                {% if championship.logo_picture %}
                    <div>
                        <img src="{{ championship.logo_picture.url }}" class="w-25 img-fluid card-img-top" alt="Responsive image">
                    </div>
                {% endif %}
                <div class="card-body">
                    <a href="{% url 'show_athlete_championshipstandings_page' athlete.id championship.id %}">
                        <p class="lead">
                            <em> {{ championship.name }} </em>
                        </p>
                    </a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}