{% extends 'base.html' %}

{% load features_extras %}

{% block main_block %}

{% for club in club_page_obj %}
<div class="nav justify-content-center">
    <div class="card" style="width: 35rem;">
        {% if club.logo_picture %}
            <img src="{{club.logo_picture.url }}" class="card-img-top" width="120">
        {% endif %}
        <div class="card-body">
            <h2>
                <a href="{% url 'club_detail' club.id %}">
                    <p class="card-title">{{club.name}}</p>
                </a>
                <p class="font-weight-lighter">
                    {% if club.description %}
                        {{club.description}}
                    {% else %}
                        No description exists for this club.
                    {% endif %}
                </p>
                {% if club.founded %}
                    <p class="font-weight-lighter">Founded: {{club.founded}}</p>
                {% endif %}
            </h2>
        </div>
    </div>
</div>
{% endfor %}

<div class="pagination nav justify-content-center">
    <span class="step-links">
        {% if club_page_obj.has_previous %}
            <a href="{% relative_url 1 'page' request.GET.urlencode %}">&laquo; first</a>
            <a href="{% relative_url club_page_obj.previous_page_number 'page' request.GET.urlencode %}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ club_page_obj.number }} of {{ club_page_obj.paginator.num_pages }}.
        </span>

        {% if club_page_obj.has_next %}
            <a href="{% relative_url club_page_obj.next_page_number 'page' request.GET.urlencode %}">next</a>
            <a href="{% relative_url club_page_obj.paginator.num_pages 'page' request.GET.urlencode %}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}