<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Athletes</title>
</head>
<body>

    {% csrf_token %}
    {% for athlete in athlete_page_obj %}
        <img src="{{ athlete.picture.url }}" width="240">
        <h2>
            {{athlete.name}}
            <br>
            {{athlete.gender}}
            <br>
            Born: {{athlete.date_of_birth}}
            <br>
            Height: {{athlete.feet_height}} ft {{athlete.inch_height}} in
            <br>
            Weight: {{athlete.weight}}
            <br>
            Club: {{athlete.club}}
            <br>
            Team: {{athlete.team}}
            <br>
            Gold: {{athlete.gold}}
            <br>
            Silver: {{athlete.silver}}
            <br>
            Bronze: {{athlete.bronze}}
            <br>
        </h2>
        <br>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if athlete_page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ athlete_page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ athlete_page_obj.number }} of {{ athlete_page_obj.paginator.num_pages }}.
            </span>

            {% if athlete_page_obj.has_next %}
                <a href="?page={{ athlete_page_obj.next_page_number }}">next</a>
                <a href="?page={{ athlete_page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>

</body>
</html>